#!/bin/bash
{% for vhost in groups['spark_master'] %}
  {% if loop.index == 1 %}
  ssh {{ vhost }} /data/spark/sbin/start-all.sh
  ssh {{ vhost }} /data/spark/sbin/start-history-server.sh
  {% else %}
  ssh {{ vhost }}  /data/spark/sbin/start-master.sh
  {% endif %}
{% endfor %}
