#忽略idea的相关配置文件
.idea
*.iml
task_executor/common/__pycache__/
__pycache__/
#忽略maven的相关配置文件
target
.cache

#忽略日志文件
log
logfile.log

#忽略rebel文件
rebel.xml
.rebel.xml.bk
.DS_Store
task_executor/log

task_executor/tmp/pg.txt
venv
task_executor/parse_sql/lzc_parse_sql.py
/task_executor/parse_sql/gk_job.py
/task_executor/job_tools/csj_parse_analyse_sql.py
/task_executor/lzc_parse_sql.py
task_executor/config/run_mode.json
/task_executor/lizc_task/
/task_executor/data/xnzq.json
/task_executor/data/zgnw.json
/task_executor/lzc_python/
